*, :root {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  border: 0;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

canvas {
  scale: 2;
  max-height: 45%;
  max-width: 47.5%;
}
